app = "rag-ml"
primary_region = "ams"

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0

[http_service.concurrency]
  type = "requests"
  soft_limit = 5
  hard_limit = 10

[[vm]]
  memory = "2048mb"
  cpu_kind = "shared"
  cpus = 1
